<launch>
  <arg name="pcd_path" />
  <arg name="voxel_size" default="0.10" />
  <arg name="title" default="PCD BEV Monitor" />
  <arg name="colormap" default="turbo" />

  <node
    pkg="data_monitor"
    type="pcd_monitor_node.py"
    name="pcd_monitor"
    required="true"
    output="screen">
    <param name="pcd_path" value="$(arg pcd_path)" />
    <param name="voxel_size" value="$(arg voxel_size)" />
    <param name="title" value="$(arg title)" />
    <param name="colormap" value="$(arg colormap)" />
  </node>
</launch>
